In [28]:
import pandas as pd

In [29]:
df=pd.read_csv('HR_comma_sep.csv')

In [30]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [31]:
df.Department.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [32]:
df.Department=df.Department.map({'sales':0, 'accounting':1, 'hr':2, 'technical':3, 'support':4, 'management':5,
       'IT':6, 'product_mng':7, 'marketing':8, 'RandD':9})

In [33]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,0,low
1,0.80,0.86,5,262,6,0,1,0,0,medium
2,0.11,0.88,7,272,4,0,1,0,0,medium
3,0.72,0.87,5,223,5,0,1,0,0,low
4,0.37,0.52,2,159,3,0,1,0,0,low

In [34]:
df.salary.unique()

array(['low', 'medium', 'high'], dtype=object)

In [35]:
df.salary=df.salary.map({'low':0,'medium':1,'high':3})

In [36]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,0,0
1,0.80,0.86,5,262,6,0,1,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0
4,0.37,0.52,2,159,3,0,1,0,0,0

In [40]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [41]:
x

array([[0.38, 0.53, 2.  , ..., 1.  , 0.  , 0.  ],
       [0.8 , 0.86, 5.  , ..., 1.  , 0.  , 0.  ],
       [0.11, 0.88, 7.  , ..., 1.  , 0.  , 0.  ],
       ...,
       [0.37, 0.53, 2.  , ..., 1.  , 0.  , 4.  ],
       [0.11, 0.96, 6.  , ..., 1.  , 0.  , 4.  ],
       [0.37, 0.52, 2.  , ..., 1.  , 0.  , 4.  ]])

In [44]:
y

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.25)

In [46]:
len(x_train)

11249

In [47]:
len(x_test)

3750

In [48]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(C=1.0,random_state=0)

In [49]:
lr.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [53]:
y_pred=lr.predict(x_test)

In [54]:
y_pred

array([0, 1, 1, ..., 0, 1, 1], dtype=int64)

In [55]:
print('wrong predictions out of total:')
print((y_test!=y_pred).sum(),'/',((y_test==y_pred).sum()+(y_test!=y_pred).sum()))

wrong predictions out of total:
0 / 3750

In [56]:
from sklearn.metrics import accuracy_score
print('Persentage Accuracy:',100*accuracy_score(y_test,y_pred))

Persentage Accuracy: 100.0

In [58]:
from sklearn.metrics import confusion_matrix
c_m=confusion_matrix