In [83]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [84]:
df=pd.read_csv('titanic.csv')

In [85]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [86]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [87]:
inputs=df.drop('Survived',axis='columns')
target=df.Survived

In [88]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [89]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [90]:
inputs.Sex=inputs.Sex.map({'male':1,'female':2})

In [91]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [92]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())

In [93]:
inputs

     Pclass  Sex        Age     Fare
0         3    1  22.000000   7.2500
1         1    2  38.000000  71.2833
2         3    2  26.000000   7.9250
3         1    2  35.000000  53.1000
4         3    1  35.000000   8.0500
..      ...  ...        ...      ...
886       2    1  27.000000  13.0000
887       1    2  19.000000  30.0000
888       3    2  29.699118  23.4500
889       1    1  26.000000  30.0000
890       3    1  32.000000   7.7500

[891 rows x 4 columns]

In [94]:
from sklearn.model_selection import train_test_split

In [95]:
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.25)

In [96]:
len(x_test)

223

In [97]:
len(x_test)

223

In [98]:
sc=StandardScaler()
x_train_std=sc.fit_transform(x_train)
x_test_std=sc.fit_transform(x_test)

In [99]:
x_train_std

array([[-0.40892399, -0.72945877,  0.36794401, -0.38030346],
       [-0.40892399, -0.72945877,  0.44695945, -0.43100468],
       [-1.6229739 ,  1.37087941, -0.65925675,  4.67714382],
       ...,
       [ 0.80512591, -0.72945877,  0.02810789,  0.5018127 ],
       [ 0.80512591, -0.72945877,  0.28892857, -0.48381913],
       [ 0.80512591, -0.72945877,  0.02810789, -0.49733811]])

In [100]:
x_test_std

array([[-0.25925883,  1.31130172, -0.84598127, -0.14908992],
       [-0.25925883, -0.762601  , -0.12689695, -0.11514639],
       [ 0.89703556, -0.762601  , -1.06170657, -0.26251118],
       [-0.25925883, -0.762601  , -0.55834754, -0.36516629],
       [-1.41555323,  1.31130172,  0.59218737,  0.44070061],
       [ 0.89703556,  1.31130172, -0.07662449,  0.70995281],
       [-1.41555323, -0.762601  , -0.07662449,  0.028439  ],
       [-1.41555323, -0.762601  ,  1.02363797,  0.03830172],
       [ 0.89703556, -0.762601  ,  0.30455364, -0.50316149],
       [-0.25925883,  1.31130172,  0.37646208, -0.40552059],
       [-0.25925883,  1.31130172,  0.23264521, -0.20826623],
       [-0.25925883,  1.31130172, -1.92460775,  0.10734074],
       [-0.25925883,  1.31130172, -0.19880538, -0.18854079],
       [ 0.89703556, -0.762601  , -1.06170657,  0.0161106 ],
       [-1.41555323,  1.31130172, -0.98979813,  1.4861487 ],
       [ 0.89703556, -0.762601  , -0.55834754, -0.50702373],
       [ 0.89703556,  1.31130172, -0.55834754, -0.51302421],
       [ 0.89703556, -0.762601  , -1.06170657, -0.50858599],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50316149],
       [ 0.89703556, -0.762601  , -1.42124873,  0.26317169],
       [-1.41555323,  1.31130172, -0.07662449,  2.22823537],
       [-1.41555323, -0.762601  ,  2.46180661, -0.13824093],
       [ 0.89703556, -0.762601  , -0.19880538, -0.47455961],
       [-0.25925883, -0.762601  ,  0.23264521, -0.2477171 ],
       [-1.41555323,  1.31130172,  0.30455364,  9.44396546],
       [ 0.89703556,  1.31130172,  0.16073678, -0.34930309],
       [-1.41555323, -0.762601  ,  3.54043309, -0.07018818],
       [-1.41555323, -0.762601  , -0.07662449, -0.14908992],
       [-1.41555323,  1.31130172, -0.9178897 ,  3.82607852],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50907912],
       [ 0.89703556,  1.31130172, -2.06842462, -0.41957496],
       [ 0.89703556,  1.31130172, -0.07662449, -0.50907912],
       [-1.41555323, -0.762601  , -0.07662449, -0.13824093],
       [-0.25925883, -0.762601  , -0.34262224, -0.45483417],
       [ 0.89703556, -0.762601  , -0.07662449, -0.47455961],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50316149],
       [ 0.89703556,  1.31130172, -0.07662449, -0.50907912],
       [ 0.89703556, -0.762601  , -0.12689695, -0.50907912],
       [-1.41555323,  1.31130172,  0.16073678,  0.38546939],
       [ 0.89703556, -0.762601  , -0.41453068, -0.51894184],
       [-1.41555323, -0.762601  ,  0.37646208,  0.89339936],
       [-1.41555323, -0.762601  , -0.34262224, -0.07018818],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50907912],
       [-1.41555323, -0.762601  , -0.07662449, -0.11514639],
       [ 0.89703556,  1.31130172, -1.92460775, -0.33253647],
       [ 0.89703556, -0.762601  , -1.70888246, -0.08744793],
       [-1.41555323, -0.762601  ,  0.59218737, -0.66195125],
       [ 0.89703556, -0.762601  , -0.9178897 , -0.50907912],
       [ 0.89703556, -0.762601  ,  0.6640958 , -0.11161159],
       [ 0.89703556, -0.762601  ,  2.03035601, -0.51894184],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50620315],
       [-0.25925883, -0.762601  , -2.16406283, -0.37593243],
       [-1.41555323,  1.31130172, -0.41453068,  2.32743854],
       [ 0.89703556, -0.762601  , -0.48643911, -0.18558198],
       [-0.25925883, -0.762601  , -0.9178897 ,  0.78786828],
       [-1.41555323, -0.762601  , -0.63025597,  2.01347469],
       [-0.25925883,  1.31130172, -0.07662449, -0.41834212],
       [ 0.89703556, -0.762601  , -0.9178897 , -0.50858599],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50907912],
       [-1.41555323, -0.762601  ,  1.38318013,  1.97435324],
       [-1.41555323,  1.31130172,  1.38318013, -0.09558468],
       [-0.25925883,  1.31130172, -0.48643911, -0.37593243],
       [-0.25925883,  1.31130172, -0.19880538, -0.41242449],
       [ 0.89703556, -0.762601  , -0.84598127, -0.50102523],
       [-1.41555323,  1.31130172, -0.48643911,  0.70502145],
       [-1.41555323,  1.31130172,  1.45508856,  0.87581019],
       [ 0.89703556,  1.31130172, -1.27743186, -0.51935213],
       [ 0.89703556,  1.31130172, -2.06842462, -0.11161159],
       [-1.41555323, -0.762601  , -0.84598127,  4.52583835],
       [ 0.89703556,  1.31130172, -0.07662449,  0.70995281],
       [-0.25925883, -0.762601  ,  0.08882835, -0.14908992],
       [ 0.89703556,  1.31130172, -1.63697402, -0.24623769],
       [-0.25925883, -0.762601  , -0.55834754, -0.40552059],
       [ 0.89703556,  1.31130172, -0.07662449, -0.51943498],
       [-1.41555323,  1.31130172,  1.67081385,  0.50973963],
       [ 0.89703556, -0.762601  , -1.20552343,  0.12090198],
       [-1.41555323, -0.762601  , -0.07662449, -0.66195125],
       [ 0.89703556,  1.31130172,  0.08882835, -0.356207  ],
       [ 0.89703556,  1.31130172, -0.34262224, -0.50562717],
       [ 0.89703556, -0.762601  , -1.06170657, -0.48014783],
       [ 0.89703556, -0.762601  , -0.05498852, -0.34437173],
       [-0.25925883, -0.762601  ,  1.16745483, -0.36606971],
       [ 0.89703556, -0.762601  , -0.63025597, -0.51894184],
       [-0.25925883, -0.762601  , -0.19880538, -0.01101187],
       [ 0.89703556,  1.31130172, -1.42124873, -0.04503825],
       [-1.41555323, -0.762601  ,  2.8932572 ,  0.31454067],
       [-1.41555323, -0.762601  ,  1.45508856, -0.13824093],
       [ 0.89703556, -0.762601  ,  0.30455364, -0.52288693],
       [ 0.89703556, -0.762601  ,  1.7786765 , -0.50316149],
       [ 0.89703556, -0.762601  ,  1.38318013, -0.50316149],
       [-0.25925883, -0.762601  ,  0.80791267, -0.40552059],
       [-1.41555323, -0.762601  ,  0.80791267, -0.14341886],
       [ 0.89703556,  1.31130172, -0.07662449, -0.356207  ],
       [ 0.89703556,  1.31130172,  1.02363797, -0.37683586],
       [-0.25925883, -0.762601  ,  0.59218737, -0.40552059],
       [-1.41555323,  1.31130172,  0.30455364,  0.38546939],
       [ 0.89703556,  1.31130172, -2.06842462, -0.04503825],
       [ 0.89703556, -0.762601  ,  1.45508856, -0.50907912],
       [-1.41555323,  1.31130172,  1.81463072,  0.97838245],
       [-0.25925883, -0.762601  , -0.48643911, -0.40552059],
       [-1.41555323, -0.762601  , -0.07662449, -0.13824093],
       [-0.25925883,  1.31130172,  0.52027894, -0.40552059],
       [-0.25925883, -0.762601  , -0.27071381, -0.40552059],
       [ 0.89703556, -0.762601  ,  0.08882835, -0.50562717],
       [ 0.89703556, -0.762601  , -0.07662449, -0.49009339],
       [ 0.89703556, -0.762601  ,  0.6640958 , -0.50620315],
       [-1.41555323,  1.31130172,  0.30455364,  0.36377141],
       [-1.41555323, -0.762601  ,  2.24608131, -0.13824093],
       [-1.41555323, -0.762601  ,  1.95844758,  1.57244748],
       [-0.25925883,  1.31130172,  0.6640958 , -0.40552059],
       [ 0.89703556, -0.762601  , -0.73811862, -0.51894184],
       [ 0.89703556, -0.762601  , -0.70216441, -0.49107966],
       [ 0.89703556, -0.762601  , -0.77407284, -0.46773855],
       [ 0.89703556, -0.762601  , -0.07662449, -0.51943498],
       [-0.25925883, -0.762601  ,  0.80791267, -0.40552059],
       [ 0.89703556, -0.762601  , -1.92460775, -0.08744793],
       [-1.41555323,  1.31130172,  0.16073678,  1.04429894],
       [ 0.89703556, -0.762601  , -1.56506559,  0.26317169],
       [-1.41555323,  1.31130172, -0.07662449,  1.52527016],
       [ 0.89703556, -0.762601  , -0.84598127, -0.50620315],
       [-1.41555323, -0.762601  ,  1.52699699, -0.06032546],
       [-0.25925883,  1.31130172, -1.85269932, -0.11457041],
       [-1.41555323, -0.762601  ,  2.17417288, -0.02440939],
       [ 0.89703556,  1.31130172,  1.02363797, -0.50907912],
       [-1.41555323, -0.762601  , -0.05498852, -0.11457041],
       [-0.25925883, -0.762601  ,  0.01691992, -0.14415856],
       [-1.41555323, -0.762601  , -0.07662449, -0.06032546],
       [-0.25925883,  1.31130172, -1.63697402, -0.14415856],
       [-0.25925883, -0.762601  ,  2.24608131, -0.45483417],
       [ 0.89703556, -0.762601  , -1.78079089, -0.41587644],
       [-1.41555323, -0.762601  , -1.92460775,  0.95273939],
       [-1.41555323,  1.31130172,  0.37646208,  2.01347469],
       [-1.41555323, -0.762601  ,  1.81463072, -0.13824093],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50316149],
       [-0.25925883, -0.762601  , -0.41453068, -0.40552059],
       [ 0.89703556, -0.762601  , -0.77407284, -0.47455961],
       [-0.25925883, -0.762601  ,  2.53371504, -0.45483417],
       [-0.25925883, -0.762601  ,  1.45508856, -0.41489017],
       [ 0.89703556,  1.31130172, -0.07662449, -0.50907912],
       [-0.25925883, -0.762601  , -0.84598127, -0.45483417],
       [-1.41555323,  1.31130172,  1.23936326, -0.15048648],
       [ 0.89703556, -0.762601  , -0.70216441, -0.50809285],
       [-1.41555323,  1.31130172, -1.06170657,  0.11523092],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50907912],
       [-1.41555323,  1.31130172, -0.07662449,  0.95890358],
       [ 0.89703556, -0.762601  , -0.70216441, -0.5081757 ],
       [-0.25925883,  1.31130172,  0.95172953, -0.14908992],
       [-1.41555323, -0.762601  ,  2.46180661,  0.56061548],
       [-0.25925883, -0.762601  , -0.19880538, -0.40552059],
       [ 0.89703556, -0.762601  , -0.70216441, -0.50858599],
       [-0.25925883, -0.762601  , -0.70216441, -0.43510874],
       [ 0.89703556, -0.762601  ,  0.16073678, -0.49124338],
       [ 0.89703556,  1.31130172,  0.73600424, -0.26325088],
       [ 0.89703556,  1.31130172,  0.59218737, -0.08744793],
       [ 0.89703556, -0.762601  , -0.48643911, -0.47455961],
       [ 0.89703556, -0.762601  , -0.07662449, -0.51935213],
       [ 0.89703556, -0.762601  ,  0.6640958 , -0.356207  ],
       [ 0.89703556,  1.31130172, -0.07662449, -0.50907912],
       [ 0.89703556, -0.762601  ,  0.52027894, -0.50620315],
       [ 0.89703556, -0.762601  ,  0.44837051, -0.50562717],
       [ 0.89703556, -0.762601  ,  0.59218737, -0.50562717],
       [ 0.89703556, -0.762601  , -1.92460775, -0.11161159],
       [-0.25925883,  1.31130172, -0.05498852, -0.41834212],
       [-1.41555323,  1.31130172,  1.52699699,  1.18237699],
       [ 0.89703556, -0.762601  ,  0.08882835, -0.50907912],
       [-1.41555323,  1.31130172, -0.63025597,  2.32743854],
       [-1.41555323,  1.31130172,  0.30455364,  1.11333797],
       [ 0.89703556,  1.31130172, -0.63025597, -0.45450476],
       [ 0.89703556, -0.762601  ,  0.30455364, -0.50316149],
       [-0.25925883,  1.31130172,  0.80791267, -0.14908992],
       [-0.25925883, -0.762601  , -0.07662449, -0.66195125],
       [ 0.89703556, -0.762601  , -0.63025597, -0.51894184],
       [ 0.89703556, -0.762601  ,  0.08882835, -0.50316149],
       [ 0.89703556, -0.762601  , -0.07662449, -0.37593243],
       [-1.41555323,  1.31130172, -1.20552343,  1.70510104],
       [-1.41555323,  1.31130172,  0.6640958 ,  1.99111986],
       [-1.41555323,  1.31130172,  1.02363797,  2.59011625],
       [ 0.89703556, -0.762601  , -0.07662449, -0.37593243],
       [-1.41555323, -0.762601  , -0.19880538,  0.03830172],
       [ 0.89703556,  1.31130172, -1.06170657, -0.50940854],
       [ 0.89703556,  1.31130172, -0.05498852, -0.18558198],
       [-0.25925883, -0.762601  ,  1.23936326, -0.40552059],
       [-1.41555323,  1.31130172,  0.52027894,  0.91608361],
       [ 0.89703556,  1.31130172, -0.77407284, -0.46814884],
       [ 0.89703556,  1.31130172, -0.63025597, -0.50907912],
       [-1.41555323, -0.762601  , -0.48643911,  0.90030326],
       [ 0.89703556, -0.762601  , -1.99651618, -0.04281914],
       [-1.41555323, -0.762601  ,  2.24608131, -0.13824093],
       [-0.25925883, -0.762601  , -0.05498852, -0.40552059],
       [-1.41555323,  1.31130172, -0.63025597,  0.65176277],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50907912],
       [ 0.89703556,  1.31130172, -0.07662449, -0.34437173],
       [ 0.89703556,  1.31130172, -0.07662449, -0.50907912],
       [ 0.89703556, -0.762601  ,  0.59218737, -0.04503825],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50620315],
       [-1.41555323,  1.31130172, -0.07662449,  1.97435324],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50316149],
       [-1.41555323,  1.31130172, -1.06170657,  1.04429894],
       [ 0.89703556, -0.762601  ,  0.23264521, -0.50316149],
       [-1.41555323,  1.31130172,  0.59218737,  1.52527016],
       [-0.25925883,  1.31130172, -0.41453068, -0.07018818],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50907912],
       [ 0.89703556,  1.31130172,  1.02363797, -0.11161159],
       [ 0.89703556, -0.762601  ,  0.37646208, -0.66195125],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50316149],
       [ 0.89703556, -0.762601  ,  0.80791267, -0.51302421],
       [-0.25925883,  1.31130172, -0.48643911,  0.62020207],
       [ 0.89703556, -0.762601  , -0.05498852, -0.51943498],
       [-1.41555323,  1.31130172,  1.95844758, -0.13824093],
       [ 0.89703556, -0.762601  , -0.07662449, -0.50316149],
       [ 0.89703556, -0.762601  , -0.12689695, -0.50858599],
       [ 0.89703556,  1.31130172, -0.07662449, -0.50907912],
       [ 0.89703556, -0.762601  , -0.48643911, -0.5081757 ],
       [-1.41555323, -0.762601  ,  0.44837051, -0.07610581],
       [ 0.89703556, -0.762601  , -0.34262224, -0.50702373],
       [ 0.89703556, -0.762601  , -0.19880538, -0.21763581],
       [-0.25925883, -0.762601  , -0.9178897 , -0.43510874],
       [ 0.89703556,  1.31130172, -0.07662449, -0.5065306 ],
       [-0.25925883, -0.762601  , -0.07662449, -0.40552059],
       [ 0.89703556, -0.762601  ,  0.01691992, -0.50562717],
       [ 0.89703556, -0.762601  , -0.48643911, -0.34437173],
       [-1.41555323, -0.762601  ,  1.81463072,  0.03830172],
       [ 0.89703556, -0.762601  , -0.07662449, -0.51935213]])

In [101]:
forest=RandomForestClassifier(criterion='entropy',n_estimators=100,random_state=10)

In [102]:
forest.fit(x_train_std,y_train)

RandomForestClassifier(criterion='entropy', random_state=10)

In [103]:
y_pred=forest.predict(x_test_std)

In [104]:
y_pred

array([1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0], dtype=int64)

In [105]:
print('wong predictions out of total:')
print((y_test!=y_pred).sum(),'/',((y_test==y_pred).sum()))

wong predictions out of total:
40 / 183

In [106]:
print('Percentage Accuracy:',100*accuracy_score(y_test,y_pred))

Percentage Accuracy: 82.0627802690583